<a class="waves-effect waves-light btn modalCore right-align" id='addJob'  href="#modalCore">Add a Community Project</a>
<div class='wholePage'>
<div id='newJob'>
    <div id="modalCore" class="modal bottom-sheet modal-fixed-footer">
      <form class="modal-content">
          <div id="form-group">
             
                  <div class="row">
                      <div class="col s4">
                          <label for="exampleInputEmail1" class="text"> List your needs </label>
                      </div>
                        <div class="col s8">
                          <label> Choose the best fitting category </label>
                      </div>

                      <div class="input-field col s4">
                          <input type='textarea' class="row s4 form-control" placeholder="This will show up in our gig list" ng-model="job.name">
                      </div>
                 
                        <label data-ng-repeat="category in categories" class="category"> <a name="currentActivity" value="{{category}}" ng-model="job.category" class="waves-effect waves-light btn"><i class="mdi-file-cloud left"></i> 
                                      {{ category }} </a>
                        </label>
                  </div>

        
       
            <div class="row">
                <div class="col s4" id="form-group">
                    <label class="text">Task Description</label>
                    <input type='textarea' class="form-control" placeholder="What do you need help with?" ng-model="job.description" rows="5">
                </div>
            
        
       
          
                <div class="col s4" id="form-group">
                    <label class="text">Date</label>
                    <!-- <input type='textarea' class="form-control" placeholder="Cost per hour" ng-model="job.price"> -->
                    <input type="date" class="datepicker">
                </div>
                <div class="col s4" id="form-group">
                    <label class="text">Address</label>
                    <input id='address' type='textarea' class="form-control" placeholder="Address" ng-model="job.location">
                </div>

      
                <div id='jobSubmit'>
                    <div class="modal-footer">
                      <button classtype="submit" id="submit" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click='createJob()'> <i class="mdi-content-send center"></i> Submit</button>
                    </div>
            </div>
          </div>
    </form>
    <div ng-show='jobPosted'>Successfully Posted!</div>
  </div>
</div>
  <!-- <div class='container'> -->


<div ng-controller="JobsCtrl"> 
  <div class='row'>
  
    <div class="col s6">
      <div class="box" id='jobList'>
        <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
          <li ng-repeat="job in jobs | filter">
            <div class="collapsible-header blue white-text"  ng-class="($index==1) ? 'active' : ''">
               {{ job.description }} </div>
                <div class="collapsible-body blue lighten-3">
                  <div class="s12 m12 col">
                    <div class="card">
                      <div class="card-content row">
                        <div class="s12 l3 row">
                          <div class='right-align'>
                          <img class='listPic' src='{{job.picture}}'>
                          <p> Job name: {{ job.name }} </p>
                          <p> Category:  
                          <a name="currentActivity" value="{{category}}" ng-model="job.category"> {{ job.category }} </a> </p>
                          <p> Address </strong>: {{ job.location }} </p>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          </li>
        </ul>
      </div>
    </div>
    <div class='col s6' ng-include="'app/maps/maps.html'"></div>
  </div>
</div>
<!--   <div class='col s6'>
    <div class="left-align">
        <div class="waves-effect waves-light btn">
          <label class="radioButton">
            <input
              class="waves-effect waves-light btn"
              name="currentActivity"
              type="radio"
              value=""
              ng-model="filters.category" />
            <strong><span class="white-text">  All </span> </strong>
          </label>
        </div>
      </div>
   
         

      <div class="left-align">
          <label data-ng-repeat="category in categories" class="radioButton">
            <input
                class="left-align"
                name="currentActivity"
                type="radio"
                value="{{category}}"
                ng-model="filters.category" />
                <p class="waves-effect waves-light btn">
                {{category}}
                </p>
          </label>   
      </div>
    </div> -->


  

 
   <!-- row closing div -->







<script>
  $(document).ready(function() {
      console.log('sliding')
      $('.slider').slider({full_width: true});


      $('.button-collapse').sideNav({
          menuWidth: 300,
          edge: 'left', 
          closeOnClick: true
      });
        setTimeout(function(){
        $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    }).promise(console.log('happend'));
      },500)

      $('.modalCore').leanModal({
      dismissible: true, // Modal can be dismissed by clicking outside of the modal
      opacity: .2, // Opacity of modal background
      in_duration: 400, // Transition in duration
      out_duration: 200, // Transition out duration
    }
  );
  });
</script>
  
