<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

<div class="buffer"></div>
<nav class='pink darken-4' ng-controller="NavbarCtrl">
  <ul id="slide-out" class="side-nav blue-grey darken-1">
    <li><a href="/jobs" class="white-text"><h4>Jobs</h4></a></li>
    <li><a href="/profile" class="white-text"><h4>Profile</h4></a></li>
    <li><a href="/logout"  ng-click="logout()" class="white-text"><h4>Logout</h4></a></li>
    <li class="no-padding">
<!--       <ul class="collapsible collapsible-accordion">
        <li>
          <a class="collapsible-header white-text">Dropdown<i class="mdi-navigation-arrow-drop-down"></i></a>
          <div class="collapsible-body">
              <ul>
                  <li><a href="#!">First</a></li>
                  <li><a href="#!">Second</a></li>
                  <li><a href="#!">Third</a></li>
              </ul>
          </div>
        </li>
      </ul> -->
    </li>
  </ul>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
</nav>



  <div id="container" ng-controller='ProfileCtrl'>
    <div class="user container">
      <div class="row">
        <div class="col s6">
          <div class="card large">
            <div class="card-image waves-effect waves-block waves-light" id="lr">
              <img src="{{ currentUser.profileInfo.profilePicUrl }}" class="profPic activator">
              <h5 class="center-align">Click for more information.</h5>
            </div>
            <div class="card-content">
              <span class="card-title activator blue-grey-text text-darken-1">{{ currentUser.name }} <i class="mdi-navigation-more-vert right"></i></span>
              <p class='blue-grey-text text-darken-1'>Karma level: 0
                <br >{{ currentUser.email }}
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4" class='blue-grey-text text-darken-1'>About {{ currentUser.name }}:<i class="mdi-navigation-close right"></i></span>
              <textarea ng-model="currentUser.profileInfo.about" contenteditable='true' ng-blur='updateProfileInfo()' class='blue-grey-text text-darken-1'>{{ currentUser.profileInfo.about }}</textarea>
            </div>
          </div>
        </div>
        <div class='col s6' id="profileSkills">
          <div class='card large'>
            <h3 class='blue-grey-text text-darken-1 center-align'>Skills</h3>
            <div ng-model="currentUser.profileInfo.skills" class="input-field col s6" id="hg">
              <input id="skill_name" type="text" class="validate" ng-model='currentUser.profileInfo.newSkill' ng-keyup="updateProfileInfo()">
              <label for="skill_name">Add your unique skills!</label>
              <ul class='collection'>
                <li ng-repeat='skill in currentUser.profileInfo.skills track by $index' class="collection-item blue-grey-text text-darken-1">{{ skill }}</li>
              </ul>
          </div>
        </div>
        </div>
      </div>


<script>
  $(document).ready(function() {
    $('.button-collapse').sideNav({
      menuWidth: 300,
      edge: 'left',
      closeOnClick: true
    });

    $('.collapsible').collapsible();
  });
</script>

 <!-- 
			<div class="col-sm-12">
				<h3>{{ currentUser.name }}</h3>
			</div>

			<div class='col-md-4'>
				<img src="{{ currentUser.profileInfo.profilePicUrl }}" class="profPic">

				<form class='picture-form' name="profilePicForm">
					<input type="file" ngf-select="" ng-model="picFile" name="file" accept="image/*" required="">
					<br>
					<button class="btn btn-sm btn-primary" ng-show="profilePicForm.$valid" ng-click="profilePicUpload(picFile)">Submit</button>
					<img ng-show="picFile[0] != null" ngf-src="picFile[0]" class="thumb">
					<span class="progress" ng-show="picFile[0].progress >= 0">
						<div style="width:{{picFile[0].progress}}%" ng-bind="picFile[0].progress + '%'" class="ng-binding"></div>
					</span>
					<span ng-show="picFile[0].result">Upload Successful</span>
					<br>
				</form>

				<div>Email: {{ currentUser.email }}</div>

				<form>
					<button class="btn btn-sm btn-primary" ng-click='updateProfileInfo()' type="submit">Update Profile Info</button>
					<input type='textarea' placeholder="{{ currentUser.profileInfo.about }}" ng-model="currentUser.profileInfo.about"></input>
				</form>

				<div ng-show="updateSuccess" class="blue">Profile Updated</div>
			</div>
			
			<div class='myjobs container col-md-7' ng-init='showJobsCreated()'>
				<h2>My Skills</h2>
				<div class="col-md-6" ng-repeat="job in myJobs">
					<div class='job-card'>
						<div{{ job.name }}</div>
					</div>
				</div>
			</div>

		</div> -->
      <!-- <hr> #DD Removed this page line-->      
<!--       <h3 class='blue-grey-text text-darken-1'>Add a job</h3>
      <form>
        <div class="form-group"> -->
          <!-- <label for="exampleInputEmail1">Jobs</label> #DD Removed this label
          <input type='textarea' class="form-control" placeholder="Add a new job here!" ng-model="job.name">
        </div>
        <button type="submit" class="btn btn-primary waves-effect waves-light btn modal-trigger blue-grey darken-1" ng-click='createJob()'>Create Job</button>
      </form>
    </div>
  </div>--> 